# Hello World & 1 Hour Python YouTube Tutorial

In [ ]:
print("hello world")

In [ ]:
#this is a note to myself.

In [ ]:
y, o= 18, 100
print(y, o)

In [ ]:
#Exercise: function where you give it two numbers and it outputs a list of all even numbers between the two
even= 2, 4, 6 , 8, 10
odd=1, 3, 5, 7, 9

In [ ]:
#Exercise: check in patient John Smith. He is 20. New Patient
age= 20
first_name= "John"
last_name= "Smith"
New_Patient = True 
print(age, first_name, last_name, New_Patient)

In [ ]:
input("What is your age? ") #input function allows for a reply

In [1]:
age = input("What is your age? ") #making the answer to the input function a variable
print( "I'm also " + age + "!") #called string concatonation

What is your age?  20

I'm also 20!

In [ ]:
#Exercise: Type conversion
First= 10
Second=30
sum= int(First) + int(Second) #int makes the variable (which reads like a word, with "") into a number or integer
print(sum)                     ##dont forget to print what you want to see!!

In [ ]:
#making a calculator others can use
first= input("First Number: ")
second= input("Second Number: ")
sum= float(first) + float(second) ###if using decimals on one or both, you need to have BOTH be "float" functions
                                #### or if using just whole numbers they BOTH need to be integers "int"
print("Sum: " + str(sum))       ####you have to convert the float or integer back into a string.

In [ ]:
print("5" in first)

In [ ]:
#Arithmatic Operations. Basically that the computer uses PEMDAS. 
##^ so: / is floating point number division, // is integer division, % modulas operator (the remainer division, and ** to the power of) 
#There is also Comparison Opereator (<, >, >=, <=, == equality operator, != not equality operator) 

price = 5
print(price>10 and price<30)
print(price>10 or price<30)
print(not price>10 and price<30) ##the not operator just inverses the original answer. so the first waws false now this is true

In [ ]:
temp = int(input("What is the temp? "))
if temp>110:
    print ("Guess we're in hell")       #if statement
elif temp > 30:                          
    print ("It's a hot day")
    print("Have a glass of lemonade")
elif temp> 20:                          #another if statement after the first
    print("Is ight out")
else:                                   #if none of the if statemetnes are true
    print("Welp")
#try to make this box of code interactive (with an input function) - DONE :)

### Exercise - asks you weight and then if its in kilo or lb. if in one then does math to output the other
#^COME BACK TO THIS - on 36min YouTube vid
int(input("Weight: ")) ##input where you put in a number for weight, hugged in an integer changing function
weight=int(input("Weight: "))
input("Kg or lb: ")
if K:
    print(0.453592/ weight)

In [ ]:
#While loops
i=1
while i---:  ##while loop runs a sort of "if" statement, until the condition is no longer true
    print(i) ##You can do math functions in print. Also multiplying strigns shown below
    i=i+1
while i<10:
    print(i * '*')
    i=i+1

In [1]:
import pandas as pd

# 6.3.22 Comp. Workshop

SOARS Workshop 2 
Lists are (collection of objects): 
    set          -can't have repeating numbers)
    dictionaries -key and values, keys don't repeat but values can)
    arrays       -list of numbers
    tuples       -an uneditable list
More collection of objects:
    trees
    queues
    stacks
    files

In [9]:
#Loop is important
# for object in collection_of_objects:
        #do something

In [12]:
l=[1,2,3]
for i in l:  #take l as the input and every time you go through the loop, i acts as an iterator 
    print(i)

1
2
3

In [15]:
import pandas as pd

In [38]:
df = pd.read_csv("https://raw.githubusercontent.com/gianluca2410/pokemon/main/pokemon.csv")

In [39]:
df['against_bug'].describe()

count    801.000000
mean       0.996255
std        0.597248
min        0.250000
25%        0.500000
50%        1.000000
75%        1.000000
max        4.000000
Name: against_bug, dtype: float64

In [41]:
df[['against_bug','against_dragon']].describe() #gives all of the statistics stuff

       against_bug  against_dragon
count   801.000000      801.000000
mean      0.996255        0.968789
std       0.597248        0.353058
min       0.250000        0.000000
25%       0.500000        1.000000
50%       1.000000        1.000000
75%       1.000000        1.000000
max       4.000000        2.000000

In [42]:
df.columns #shows the columns

Index(['abilities', 'against_bug', 'against_dark', 'against_dragon',
       'against_electric', 'against_fairy', 'against_fight', 'against_fire',
       'against_flying', 'against_ghost', 'against_grass', 'against_ground',
       'against_ice', 'against_normal', 'against_poison', 'against_psychic',
       'against_rock', 'against_steel', 'against_water', 'attack',
       'base_egg_steps', 'base_happiness', 'base_total', 'capture_rate',
       'classfication', 'defense', 'experience_growth', 'height_m', 'hp',
       'japanese_name', 'name', 'percentage_male', 'pokedex_number',
       'sp_attack', 'sp_defense', 'speed', 'type1', 'type2', 'weight_kg',
       'generation', 'is_legendary'],
      dtype='object')

In [45]:
df['abilities'] #shows the rows in that column

0      ['Overgrow', 'Chlorophyll']
1      ['Overgrow', 'Chlorophyll']
2      ['Overgrow', 'Chlorophyll']
3         ['Blaze', 'Solar Power']
4         ['Blaze', 'Solar Power']
                  ...
796                ['Beast Boost']
797                ['Beast Boost']
798                ['Beast Boost']
799                ['Prism Armor']
800                 ['Soul-Heart']
Name: abilities, Length: 801, dtype: object

In [52]:
cols= ['generation','is_legendary']  #to get the columns i want and to put them into a list
df_subset=df[cols]
df_subset    ####calling the label that has the specific columns

     generation  is_legendary
0             1             0
1             1             0
2             1             0
3             1             0
4             1             0
..          ...           ...
796           7             1
797           7             1
798           7             1
799           7             1
800           7             1

[801 rows x 2 columns]

In [53]:
df_subset.corr() #shows the correlation between the columns 
# - there are three types of correlations but pearson is what is usually used

              generation  is_legendary
generation      1.000000      0.139029
is_legendary    0.139029      1.000000

# 6.10.22

In [21]:
#dictionary uses {} not ()

data_dictionary ={'6.6.22':
{ 
        "conditions":"Rainy",
        "temp": 32,
        "humidity": 89 
}
     }

In [ ]:
#Opening a csv file easy peasy

with open("compas-scores-two-years.csv") as jail_data:
    for x in jail_data:
            print(x)

In [ ]:
with open("compas-scores-two-years.csv") as jail_data:
    for x in jail_data:
        if "mark" in x:
            print(x)

In [ ]:
with open("compas-scores-two-years.csv") as jail_data:
    for x in jail_data:
        if "mark" in x:
            print(x)
            print(x.split(','))
            break

In [56]:
##Doesnt work

with open("compas-scores-two-years.csv") as jail_data:
    for x in jail_data:                                #x is a string so python pritns all of the strings in the file, which is why the return is the whole file
        if "mark" in x and count < count_end:
            print(x)
            print(x.split(','))
            
            count =count+1

IndentationError: unexpected indent (1026867458.py, line 5)

In [33]:
sent= "the street is gold"

In [34]:
sent. split()

['the', 'street', 'is', 'gold']

In [35]:
sent. split(",")

['the street is gold']

In [36]:
sent. split("e")

['th', ' str', '', 't is gold']

In [74]:
alist= ['J','a','e']
"!".join(alist) # The join function can only split with strings which is characters with '' or ""

'J!a!e'

In [59]:
for c in "abc":  #because c is a string, python prints all of the strings in the list
    print(c)

a
b
c

In [62]:
[list(c) for c in "abc"] #This is a list of lists and its confusing but later you might understand

[['a'], ['b'], ['c']]

In [70]:
mylist = [ ] #an empty list
for c in "abc": 
    mylist.append(c)

In [71]:
mylist[-1] # it goes to the end of the list. Only really works for a collection of objects 
#But if you go 4 or -4 then it will give an error saying list index out of range because there's only 3

'c'

In [72]:
len(mylist) #the length of the list

3

# 6.15.22

In [ ]:
#Series is on ecolumn - dataframe is multiple 

#Pandas plot -> figsize changes the width, height, and dpi of the figure when exporting
## In plot() figsize(30,120) or (width, height, dpi) 
## Rot= rotation for axis labels.
## In plot(rot=45) so the labels are slanted
#^ plot(rot=45, figsize(3,12,300))
## In plot() xticks= columnname . Gives the plot what column to put on the x axis if it isnt the correct one

# Control forward slash / makes and unmakes a comment (select then cntrl +/)

df['Units'].astype(str) 
to assign the dtype: int64 (which is 64 bit integer column or data) or dtype:float 64 (which is a 64 bit float column) into a string type instead of integer

In [1]:
from datetime import datetime #datetime is a module library -- import the datetime class or object
from datetime import timedelta #timedelta is an object or class

In [2]:
i=range(0,10)
print(i)

range(0, 10)

In [4]:
for n in range(0,10):
    print(n)

0
1
2
3
4
5
6
7
8
9

In [11]:
arr=[[1,2],[3,4]]
arr

[[1, 2], [3, 4]]

In [13]:
df=pd.DataFrame[[[1,2],[3,4]]
df

SyntaxError: invalid syntax (2268637441.py, line 2)

In [15]:
# can do comma underscore for if there are not enough values on one side and too many on the other side
#ex:
a,b=[1,2]
a

1

In [16]:
b

2

In [18]:
a,b,_=[1,2,3]
_

3

In [ ]:
df.query('Boopcolumn == 3 & (Boopcolumntwo == 3 | Boopcolumntwo = 9)') # | is an or

Change the cell type to markdown:
    The analysis continues in the next notebook [link name](./name_of_file.ipynb)

*Then in the next notebook mention "This is the next notebook that analysis...stemming off from goal 1 (the last notebook")*

Click this cell to see how it is done!